
/src/PostSharpExamples/PostSharpExamples.suo
/src/PostSharpExamples/OnExceptionAspect/bin
/src/PostSharpExamples/OnExceptionAspect/obj
/src/PostSharpExamples/GettingStarted/bin
/src/PostSharpExamples/GettingStarted/obj